.header{
   // font-family: 'Josefin Sans', sans-serif;
   min-height: 820px;
   background-image: url('../img/header-bgr.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: left;
   position: relative;
   z-index: 1;
   

&__wrapper{
   display: flex;
   flex-direction: column;
   align-items: center;
}  

&__title{
   font-size: 23px;
   letter-spacing: 5px;
   line-height: 26px;
   color: #ffffff;
   font-weight: 700;
   // font-family: 'Josefin Sans', sans-serif;
   text-transform: uppercase;
   padding-top: 280px;
}
&__subtitle{
   padding-top: 20px;
   font-size: 22px;
   letter-spacing: 5px;
   line-height: 26px;
   color: #ffffff;
   text-align: center;
   // font-family: 'Josefin Sans', sans-serif;
}
&__form{
   padding: 45px 5px 0 5px;
   // padding-top: 45px;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   input{
      max-width: 500px;
      width: 100%;
      margin: 0 auto;
      min-height: 60px;
      text-align: center;
      font-size: 14px;
      letter-spacing: 3px;
      line-height: 26px;
      color: #999999;
      font-family: "Josefin Sans";
      margin: 0;
      border: none;
   }
}
&__btn{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #5474fd;
   text-align: left;
   padding: 17px 15px 13px 30px;
   border: 2px solid white;
   a{
      padding-right: 10px;
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 26px;
      color: #ffffff;
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Aleo', serif;
   }
}
&__scroll{
   display: flex;
   flex-direction: column;
   padding-top: 115px;
   p{
      font-size: 14px;
      letter-spacing: 2px;
      line-height: 23px;
      color: #ffffff;
      text-align: center;
   }
   img{
      padding-top: 5px;
      display: block;
      width: 14px;
      margin: 0 auto;
   }
}
&__nav{
   background-color: #5474fd;
   margin: 0 auto;
   position: absolute;
   width: 100%;
   bottom: 0;
   left: 0;
   
}

&__nav-wrapper{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
   width: 100%;
   max-width: 1110px;
   min-height: 80px;
   padding: 0 15px;
}
&__logo{
   font-size: 24px;
   letter-spacing: 2px;
   line-height: 26px;
   color: #ffffff;
   font-weight: 500;
   text-transform: uppercase;
   
}

&__list{
   list-style-type: none;
   display: flex;
@media screen and (max-width: 810px){
   opacity: 0;
   visibility: hidden;
}

}
&__link{
   padding-left: 40px;
   font-size: 14px;
   line-height: 26px;
   color: #ffffff;
   font-weight: 400;
   font-family: 'Aleo', serif;
   text-transform: uppercase;
}

.menu{
   position: absolute;
   z-index: 2;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 50%;
   height: 50%;
   background-color: rgb(84, 116, 253, 0.95);
   border-radius: 20px;
   
// &__wrapper{
//    position: relative;
// }

&__list{
   list-style-type: none;
   padding: 30px 15px 0 15px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   min-height: 90%;
}
&__link{
   // background-color: yellowgreen;
   width: 100%;
   text-align: center;
   font-size: 30px;
   padding: 10px 0;
   transition: all ease-in-out 0.3s;
}
&__link:hover{
   background-color: yellowgreen;

}
}

.burger{
   position: absolute;
   bottom: 15px;
   right: 45px;  
   visibility: hidden;
   opacity: 0; 
@media screen and (max-width: 810px){
   opacity: 1;
   visibility: visible;
}
&__btn{
   width: 50px;
   height: 50px;
   transition: all ease-in-out 0.5s;
   // border: 2px solid red;
   border-radius: 5px;
   position: relative;
   span{
      display: block;
      position: relative;
      width: 30px;
      height: 4px;
      background-color: white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }
   span:before{
      content: '';
      display: block;
      position: absolute;
      width: 30px;
      height: 4px;
      background-color: white;
      top: 13px;
      left: 0px;
      transition: all ease-in-out 0.3s;
   }
   span::after{
      content: '';
      display: block;
      position: absolute;
      width: 30px;
      height: 4px;
      background-color: white;
      bottom: 13px;
      left: 0px;
      transition: all ease-in-out 0.3s;
   }
}
&__btn:hover{
   background-color: rgb(64, 97, 245);
}
&__btn:hover span::after{
   background-color: #020202;
   left: 5px;
}
&__btn:hover span::before{
   background-color: #020202;
   left: -5px;
}
}
.active{
   opacity: 0;
   visibility: hidden;
}
} 
