*{
   box-sizing: border-box;
   
   
}
h1, h2, h3, h4, h5, h6{
   padding: 0;
   margin: 0;
}
a{
   text-decoration: none;
   color: white;
}
.container{
   max-width: 1110px;
}
body{
   
   padding: 0;
   margin: 0;
   height: 100%;
   font-family: 'Josefin Sans', sans-serif;
}
p{
   padding: 0;
   margin: 0;
}
