* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  max-width: 1110px;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Josefin Sans", sans-serif;
}

p {
  padding: 0;
  margin: 0;
}

.btn {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Aleo";
  display: inline-block;
  padding: 20px;
  width: 220px;
  background-color: #274cf2;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
@media screen and (max-width: 800px) {
  .btn {
    margin: 0 auto;
  }
}

.btn:hover {
  background-color: #51b4ed;
}
.btn:hover a {
  color: black;
}

a {
  -webkit-transition: color ease-in-out 0.8s;
  transition: color ease-in-out 0.8s;
}

.country {
  min-height: 700px;
  background-image: url("../img/gr-1-bgr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.country .container {
  margin: 0 auto;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
}
@media screen and (max-width: 1100px) {
  .country .container {
    min-height: 70vh;
    padding: 0 10px;
  }
}
.country__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 540px;
  background-color: rgba(35, 35, 35, 0.9);
  color: #e8e8e8;
  padding-left: 30px;
}
@media screen and (max-width: 1100px) {
  .country__wrapper {
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 10px;
  }
}
.country__name {
  padding-top: 50px;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 26px;
  color: #e8e8e8;
  font-family: "Josefin Sans";
}
.country__title {
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  font-family: "Josefin Sans";
  padding: 30px 0;
}
.country__description {
  font-size: 16px;
  line-height: 26px;
  color: #e8e8e8;
  font-family: "Josefin Sans";
  padding-bottom: 50px;
  padding-right: 10px;
}
@media screen and (max-width: 800px) {
  .country__description {
    text-align: center;
  }
}
.country .btn {
  margin-bottom: 50px;
}

.right {
  background-image: url("../img/gr-2-bgr.jpg");
}
.right .container {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-right: 10px;
}

.header {
  min-height: 820px;
  background-image: url("../img/header-bgr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  position: relative;
  z-index: 1;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__title {
  font-size: 23px;
  letter-spacing: 5px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 280px;
}
.header__subtitle {
  padding-top: 20px;
  font-size: 22px;
  letter-spacing: 5px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
}
.header__form {
  padding: 45px 5px 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.header__form input {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  min-height: 60px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 26px;
  color: #999999;
  font-family: "Josefin Sans";
  margin: 0;
  border: none;
}
.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5474fd;
  text-align: left;
  padding: 17px 15px 13px 30px;
  border: 2px solid white;
}
.header__btn a {
  padding-right: 10px;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  font-family: "Aleo", serif;
}
.header__scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 115px;
}
.header__scroll p {
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 23px;
  color: #ffffff;
  text-align: center;
}
.header__scroll img {
  padding-top: 5px;
  display: block;
  width: 14px;
  margin: 0 auto;
}
.header__nav {
  background-color: #5474fd;
  margin: 0 auto;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
.header__nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1110px;
  min-height: 80px;
  padding: 0 15px;
}
.header__logo {
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
}
.header__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 810px) {
  .header__list {
    opacity: 0;
    visibility: hidden;
  }
}
.header__link {
  padding-left: 40px;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Aleo", serif;
  text-transform: uppercase;
}
.header .menu {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background-color: rgba(84, 116, 253, 0.95);
  border-radius: 20px;
  opacity: 0;
  visibility: hidden;
}
.header .menu__list {
  list-style-type: none;
  padding: 30px 15px 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 90%;
}
.header .menu__link {
  width: 100%;
  text-align: center;
  font-size: 30px;
  padding: 10px 0;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.header .menu__link:hover {
  background-color: #244bf8;
}
.header .menu__close-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}
.header .menu__close-btn span:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 30px;
  height: 4px;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header .menu__close-btn span::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 30px;
  height: 4px;
  background-color: white;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.header .menu__close-btn:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.header .burger {
  position: absolute;
  bottom: 15px;
  right: 45px;
  visibility: hidden;
  opacity: 0;
}
@media screen and (max-width: 810px) {
  .header .burger {
    opacity: 1;
    visibility: visible;
  }
}
.header .burger__btn {
  width: 50px;
  height: 50px;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  border-radius: 5px;
  position: relative;
}
.header .burger__btn span {
  display: block;
  position: relative;
  width: 30px;
  height: 4px;
  background-color: white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.header .burger__btn span:before {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: white;
  top: 13px;
  left: 0px;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.header .burger__btn span::after {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: white;
  bottom: 13px;
  left: 0px;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.header .burger__btn:hover {
  background-color: #4061f5;
}
.header .burger__btn:hover span::after {
  left: 5px;
}
.header .burger__btn:hover span::before {
  left: -5px;
}
.header .active {
  opacity: 1;
  visibility: visible;
}

.choose {
  min-height: 690px;
  background-image: url("../img/wcu-bgr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.choose .container {
  margin: 0 auto;
  width: 100%;
}
.choose__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.choose__description {
  max-width: 540px;
  padding: 0 10px;
}
@media screen and (max-width: 800px) {
  .choose__description {
    max-width: 100%;
    text-align: center;
  }
}
.choose__title {
  padding-top: 20px;
  font-size: 30px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Aleo";
}
.choose__text {
  padding-top: 50px;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 26px;
  color: #e8e8e8;
  font-family: "Josefin Sans";
}
.choose__text p {
  padding-bottom: 40px;
}
.choose__foto {
  width: 100%;
  padding: 0 10px 0 10px;
}
@media screen and (max-width: 800px) {
  .choose__foto {
    position: absolute;
    visibility: hidden;
  }
}
.choose .foto1 {
  padding-left: 75px;
  margin-bottom: 3px;
}
.choose .foto2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.review {
  min-height: 725px;
  background-image: url("../img/review-bgr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
.review .container {
  margin: 0 auto;
  padding: 0 10px;
}
.review__title {
  font-size: 36px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Aleo";
  text-align: center;
  padding-top: 120px;
}
@media screen and (max-width: 965px) {
  .review__title {
    padding-top: 75px;
    line-height: 60px;
  }
}
.review__wrapper {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 965px) {
  .review__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-top: 60px;
  }
}
.review__description {
  padding-left: 60px;
}
.review__description h2 {
  font-size: 28px;
  line-height: 26px;
  color: #fefefe;
  font-family: "Josefin Sans";
  padding-top: 35px;
  text-transform: uppercase;
}
.review__description p {
  padding-top: 35px;
  font-size: 16px;
  line-height: 26px;
  color: #e8e8e8;
  font-family: "Josefin Sans";
}
@media screen and (max-width: 965px) {
  .review__description {
    padding: 15px;
  }
}
@media screen and (max-width: 965px) {
  .review img {
    max-width: 90%;
  }
}

.footer {
  min-height: 265px;
  background-color: #232323;
}
.footer__logo {
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Josefin Sans";
  padding-top: 120px;
  text-align: center;
  text-transform: uppercase;
}
.footer__description {
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 26px;
  color: #ffffff;
  font-family: "Josefin Sans";
  text-align: center;
  padding-top: 5px;
}
.footer__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 190px;
  padding: 20px 0;
  margin: 0 auto;
}